@model IEnumerable<ClbTinhoc.Web.Models.SinhVien>

@{
    ViewData["Title"] = "Danh sách sinh viên";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ - CLB Tin Học</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/home.css">
</head>

    <div class="container">
        @await Html.PartialAsync("_Header")
    </div>

<h1>Danh sách sinh viên</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Thêm mới</a>
</p>

<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaSinhVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LopSinhHoat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoDienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayThamGia)
            </th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaSinhVien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LopSinhHoat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoDienThoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayThamGia)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaSinhVien" class="btn btn-sm btn-warning">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.MaSinhVien" class="btn btn-sm btn-info">Chi tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaSinhVien" class="btn btn-sm btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>