@model List<ClbTinhoc.Web.Models.DiemThi>
@{
    var maSinhVien = ViewBag.MaSinhVien;
    var maKhoaHoc = ViewBag.MaKhoaHoc;
}
<table class="table">
    <thead>
        <tr>
            <th>Lần thi</th>
            <th>Điểm</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="number" min="1" max="3" value="@item.LanThi" class="form-control lanThiInput"
                        data-id="@item.MaDiem" />
                </td>
                <td>
                    <input type="number" min="0" max="10" step="0.1" value="@item.Diem" class="form-control diemInput"
                        data-id="@item.MaDiem" />
                </td>
                <td>
                    <button class="btn btn-success btnUpdateDiem" data-id="@item.MaDiem">Lưu</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(function () {
        $('.btnUpdateDiem').off('click').on('click', function () {
            var id = $(this).data('id');
            var diem = $('.diemInput[data-id="' + id + '"]').val();
            var lanThi = $('.lanThiInput[data-id="' + id + '"]').val();
            $.post('/DiemThi/UpdateDiem', { maDiem: id, diem: diem, lanThi: lanThi }, function (res) {
                if (res.success) {
                    alert('Cập nhật thành công!');
                } else {
                    alert(res.message || 'Có lỗi xảy ra!');
                }
            });
        });
    });
</script>